<div class="topNav">
    <div (click) = "navTo('HOME')" #siteLogo class="d-none d-md-block col-md-5 col-lg-4 col-xl-3 zTop cursor bg-white p-1 rb6 mr-2"> <img src="../assets/IMAGES/dg2021_logoh_100.png"
            class="img-fluid zTop" alt=""> </div>
    <div class="d-none d-md-block">
        <div class="navButton float-left mt-2 ml-2" *ngFor="let nav of navBarItems" (click)="navTo(nav.link)">
            {{nav.title}}</div>
        <div class="float-right navButtonInverse mr-4 mt-2">Donate</div>
    </div>
    <div class="d-md-none">
        <div class="float-right navButtonInverse mr-2 mt-2">Donate</div>
        <div class="float-left iconFontRed mt-1 ml-2"><i class="fas fa-bars"></i></div>
    </div>
</div>
<router-outlet></router-outlet>