.topNav {
    height: 60px;
    line-height: 60px;
    background-color:white;
    width: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navButton {
    background-color: white;
    color: red;
    text-align: center;
    border: 2px solid red;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    line-height: 40px;
    height: 45px;
}

.navButtonInverse {

    color: white;
    background-color: red;
    text-align: center;
    border: 2px solid red;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    line-height: 40px;
    height: 45px;
}

.volunteerButton {
    color: white;
    background-color: var(--dgBlue);
    text-align: center;
    border: 2px solid  var(--dgBlue);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    line-height: 40px;
    height: 45px;
}

.volunteerButton:hover {
    color: var(--dgBlue);
    background-color: white;
}

.navButton:hover {
    background-color: red;
    color: white;
}

.navButtonInverse:hover {
    color: red;
    background-color: white;
}

.iconFontRed {
    font-size: 45px;
    color: red;
    cursor: pointer;
}

.zTop {
    z-index: 1000;
}

.rb6 {
    border-radius: 0px 0px 6px 0px;
}

.volunteerForm{
    /* background-color: var(--dgBlue); */
    background-color: darkred;
    border-radius: 6px;
    border : 8px solid white;
}

.insideFill {
    padding: 10px;
    background-color: white;
    border-radius: 6px;
}

.insideFill .header {
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
}

.insideFill p {
    line-height: 20px;
    font-size: medium;
    text-align: center;
}

.formLabel {
    font-size: small;
    text-align: left;
}

.group {
    width: 100%;
}