
:root{
    --dgBlue : #3D4F5D;
    --dgGold : #C7B26F;
}
.pageContent {
     margin-top: 65px;
}
.lockOver {
     position: absolute;
     top: -290px;
     left: 15px;
     z-index: 100;
}
.round6 {
     border-radius: 6px;
}
.max500 {
     height: 100vh;
}

.line-breaks{
    white-space: pre-line; 
    font-size: small;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    font-weight: 300;
    line-height: 25px;
}

.footer {
    background-color: var(--dgBlue);
    height: 65px;
    line-height: 65px;
    color: white;
    width: 100%;
    float: left;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-libBlue {
    background-color: var(--dgBlue);
}

.libSuccess{
    background-color: var(--dgGold);
}

.mask{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:1000;
}