@import './assets/bootstrap4_24_ip.css';
@import './assets/siteGarby.css';

/* Full Site and Font Size */

body{
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.round6 {
    border-radius: 6px;
}

.font-small{
    font-size: small;
}

.font-large {
    font-size: large;
}

.font-x-large {
    font-size: x-large;
}

.font-x-small {
    font-size: x-small;
}

.font-medium {
    font-size: medium;
}

.underNav {
    margin-top: 60px;
}

.fullPage {
    background-color: white;
    height: 100vh;
    overflow: scroll;
}

.shiftBelowLogo{
    margin-top: 30px;
}

.cursor {
    cursor: pointer;
}

i .font-x-large {
    font-size: xx-large;
}


/* Common to All Pages */

.centerBox {
    font-size: medium;
    top: 30%;
    border-radius: 6px;
    position: relative;
    top: translate(-50%,50%)
}

.centerStuff{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
}

.dreamBox {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    padding: 10px;
}

.dreamBox .heading {
    font-size: large;
    color : var(--dgBlue);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.dreamBox .icon{
    color:var(--dgBlue);
    font-size: 32px;
    text-align: center;
}

.insideBox{
    background-color: white;
    text-align: justify;
}

.largeFont{
    font-size: large;
}

.card {
    padding: 5px
}

.centerPop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
}

